<%- include('partials/head')%>


  <body>
    <%- include('partials/navbar') %>

    <h1>The Home page <%= 4+ 6%></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nihil
      dicta officiis reiciendis quaerat ratione recusandae minima, amet
      consectetur, necessitatibus vitae sequi in harum placeat ut laudantium
      animi totam! Vitae. Porro esse aperiam neque. Eius optio eaque enim
      cupiditate sequi perferendis earum aliquam quas magnam beatae! Obcaecati,
      dolorum doloribus cupiditate amet quo odio consectetur autem placeat?
      Placeat vitae assumenda quo? Id temporibus ipsam nemo doloremque. At,
      explicabo amet autem officiis libero aliquid vero accusantium debitis sed
      provident deleniti id! Fugit magni quia non veritatis temporibus, nulla
      voluptas ipsum velit expedita?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
      exercitationem earum impedit recusandae facilis atque, a numquam
      cupiditate distinctio molestiae vero velit nisi quod at eaque fugit
      aperiam. Nobis, adipisci?
    </p>
    <%- include('partials/footer') %>

  </body>
</html>
